<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wheat1.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,194},{634,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,71},{634,99}}</string>
				<key>sourceSize</key>
				<string>{639,239}</string>
			</dict>

			<key>wheat2.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,0},{639,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,31},{639,193}}</string>
				<key>sourceSize</key>
				<string>{639,239}</string>
			</dict>

			<key>wheat3.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,710},{639,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,16},{639,221}}</string>
				<key>sourceSize</key>
				<string>{639,239}</string>
			</dict>

			<key>wheat4.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,480},{639,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,10},{639,229}}</string>
				<key>sourceSize</key>
				<string>{639,239}</string>
			</dict>

			<key>wheat5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,720},{639,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{639,239}}</string>
				<key>sourceSize</key>
				<string>{639,239}</string>
			</dict>

			<key>wheat6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,480},{639,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{639,239}}</string>
				<key>sourceSize</key>
				<string>{639,239}</string>
			</dict>

			<key>wheat7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,240},{640,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{640,239}}</string>
				<key>sourceSize</key>
				<string>{640,239}</string>
			</dict>

			<key>wheat9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{640,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{640,239}}</string>
				<key>sourceSize</key>
				<string>{640,239}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>animation.png</string>
			</dict>
		</dict>
</plist>