<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>yae_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,58},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,5},{24,28}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,5},{24,28}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,29},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,5},{24,28}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,90},{23,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{23,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,60},{23,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{23,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,30},{23,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{23,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,0},{23,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{23,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,87},{23,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{23,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,87},{23,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{23,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,0},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{22,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,0},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{22,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,30},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{22,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>yae.png</string>
			</dict>
		</dict>
</plist>