<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Ctaihou_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4038},{23,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{23,28}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4067},{23,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{23,28}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,3945},{23,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{23,28}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,4034},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,3974},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,4064},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,4004},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,3974},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,4004},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4007},{23,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{23,30}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3976},{23,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{23,30}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3945},{23,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{23,30}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_m_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,3351},{186,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{186,197}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>Ctaihou_m_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,3351},{186,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{186,197}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>Ctaihou_m_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,3351},{186,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{186,197}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>Ctaihou_m_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,3153},{186,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{186,197}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>Ctaihou_m_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3747},{186,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{186,197}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>Ctaihou_m_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3549},{186,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{186,197}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>Ctaihou_m_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3351},{186,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{186,197}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>Ctaihou_m_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3153},{186,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{186,197}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>Ctaihou_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2102},{399,1050}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,135},{399,1050}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>Ctaihou_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2102},{399,1050}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,135},{399,1050}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>Ctaihou_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2102},{399,1050}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,135},{399,1050}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>Ctaihou_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,1051},{399,1050}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,135},{399,1050}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>Ctaihou_s_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,0},{399,1050}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,135},{399,1050}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>Ctaihou_s_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,2102},{399,1050}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,135},{399,1050}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>Ctaihou_s_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1051},{399,1050}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,135},{399,1050}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>Ctaihou_s_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{399,1050}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,135},{399,1050}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,4096}</string>
			<key>textureFileName</key>
			<string>Ctaihou.png</string>
			</dict>
		</dict>
</plist>