<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Ctaihou_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,0},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,33},{25,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,67},{25,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{25,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,66},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,33},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,0},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,66},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{24,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,0},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{24,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,33},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{24,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,68},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,34},{25,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{25,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>Ctaihou.png</string>
			</dict>
		</dict>
</plist>