<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Ctaihou_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,458},{23,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{23,28}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,427},{23,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{23,28}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,456},{23,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{23,28}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,456},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,456},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,396},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,426},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,396},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,426},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,396},{23,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{23,30}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,427},{23,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{23,30}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,396},{23,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{23,30}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>Ctaihou_m_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,0},{186,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{186,197}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>Ctaihou_m_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,0},{186,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{186,197}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>Ctaihou_m_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,0},{186,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{186,197}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>Ctaihou_m_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,0},{186,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{186,197}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>Ctaihou_m_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,198},{186,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{186,197}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>Ctaihou_m_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,198},{186,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{186,197}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>Ctaihou_m_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,198},{186,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{186,197}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>Ctaihou_m_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{186,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{186,197}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,512}</string>
			<key>textureFileName</key>
			<string>Ctaihou.png</string>
			</dict>
		</dict>
</plist>