<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>daigoro_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,1921},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,1881},{22,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{22,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,1950},{22,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{22,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,1887},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,1853},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,1989},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,1989},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_2_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,1984},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,16},{22,32}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>daigoro_2_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,1916},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,16},{24,33}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>daigoro_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,1955},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,1853},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,1887},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,1921},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,1955},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_a_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1950},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,15},{27,34}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>daigoro_a_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1881},{28,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,15},{28,34}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>daigoro_a_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,1950},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,16},{22,32}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>daigoro_a_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,1985},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,16},{24,33}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>daigoro_a_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1985},{25,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,15},{25,33}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>daigoro_a_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1916},{27,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,15},{27,33}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>daigoro_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1332,0},{443,1171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{210,14},{443,1171}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>daigoro_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1332,0},{443,1171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{210,14},{443,1171}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>daigoro_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1172},{443,680}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{210,14},{443,680}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>daigoro_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,0},{443,1171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{210,14},{443,1171}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>daigoro_s_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{443,1171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{210,14},{443,1171}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>daigoro_s_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1776,0},{308,1181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{276,12},{308,1181}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>daigoro_s_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2085,0},{307,1181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{276,12},{307,1181}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>daigoro_s_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,0},{443,1171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{210,14},{443,1171}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>effect_kick.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1853},{38,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,28},{38,27}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,2048}</string>
			<key>textureFileName</key>
			<string>daigoro.png</string>
			</dict>
		</dict>
</plist>