<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>daigoro_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1788},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1449},{22,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{22,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1483},{22,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{22,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1754},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1720},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1686},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1856},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_2_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1517},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,16},{22,32}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>daigoro_2_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1382},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,16},{24,33}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>daigoro_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1822},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1550},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1584},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1618},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1652},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>daigoro_a_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1279},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,15},{27,34}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>daigoro_a_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1210},{28,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,15},{28,34}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>daigoro_a_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1416},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,16},{22,32}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>daigoro_a_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1348},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,16},{24,33}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>daigoro_a_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1314},{25,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,15},{25,33}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>daigoro_a_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1245},{27,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,15},{27,33}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>daigoro_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,0},{443,1171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{210,14},{443,1171}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>daigoro_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,0},{443,1171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{210,14},{443,1171}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>daigoro_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,0},{443,1171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{210,14},{443,1171}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>daigoro_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1670,0},{443,1171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{210,14},{443,1171}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>daigoro_s_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1226,0},{443,1171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{210,14},{443,1171}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>daigoro_s_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2558,0},{308,1181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{276,12},{308,1181}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>daigoro_s_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2867,0},{307,1181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{276,12},{307,1181}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>daigoro_s_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2114,0},{443,1171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{210,14},{443,1171}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>daigoro_s_99.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{781,936}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,124},{781,936}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>effect_kick.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1182},{38,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,28},{38,27}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,2048}</string>
			<key>textureFileName</key>
			<string>daigoro.png</string>
			</dict>
		</dict>
</plist>