<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dandan_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3660},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>dandan_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3594},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{22,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>dandan_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3495},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{22,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>dandan_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3825},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{20,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>dandan_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3726},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{20,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>dandan_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3693},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{20,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>dandan_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3759},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{20,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>dandan_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3792},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{20,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>dandan_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3858},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{20,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>dandan_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3627},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>dandan_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3528},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{22,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>dandan_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3561},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{22,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>dandan_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2361},{439,1133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{177,52},{439,1133}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>dandan_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2361},{439,1133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{177,52},{439,1133}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>dandan_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1165},{536,1195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{170,2},{536,1195}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>dandan_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,2361},{439,1133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{177,52},{439,1133}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>dandan_s_99.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{740,1164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,14},{740,1164}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,4096}</string>
			<key>textureFileName</key>
			<string>dandan.png</string>
			</dict>
		</dict>
</plist>