<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gakuran_daigoro_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{22,68},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>gakuran_daigoro_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,34},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>gakuran_daigoro_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,0},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>gakuran_daigoro_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,68},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>gakuran_daigoro_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,34},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>gakuran_daigoro_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,0},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>gakuran_daigoro_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,68},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>gakuran_daigoro_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{22,34},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>gakuran_daigoro_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{22,0},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>gakuran_daigoro_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,68},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>gakuran_daigoro_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,34},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>gakuran_daigoro_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>gakuran_daigoro.png</string>
			</dict>
		</dict>
</plist>