<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{61,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{61,46}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>effect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,47},{59,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,16},{59,46}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>kyoujin_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,94},{20,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,8},{20,23}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kyoujin_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,47},{18,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,9},{18,23}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kyoujin_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,94},{18,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,9},{18,23}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kyoujin_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,0},{17,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,8},{17,23}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kyoujin_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,94},{17,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,9},{17,22}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kyoujin_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,72},{17,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,9},{17,23}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kyoujin_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,48},{17,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,8},{17,23}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kyoujin_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,24},{17,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,9},{17,23}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kyoujin_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,71},{17,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,9},{17,22}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kyoujin_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{21,94},{20,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,9},{20,22}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kyoujin_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,96},{16,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,10},{16,22}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>kyoujin_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,24},{16,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,10},{16,22}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>kyoujin.png</string>
			</dict>
		</dict>
</plist>