<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>magoichi_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4023},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3759},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{22,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3726},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{22,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3990},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3957},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3924},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3891},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3858},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3825},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3792},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4056},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{22,3792},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2342},{394,1170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,15},{394,1170}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>magoichi_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2342},{394,1170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,15},{394,1170}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>magoichi_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{410,1170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,15},{410,1170}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>magoichi_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1171},{410,1170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,15},{410,1170}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>magoichi_s_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2342},{394,1170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,15},{394,1170}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>swim_magoichi_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3698},{25,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,27}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3698},{25,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,27}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3593},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3566},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3566},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3540},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3513},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3513},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3619},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3645},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3672},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3645},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,4096}</string>
			<key>textureFileName</key>
			<string>magoichi.png</string>
			</dict>
		</dict>
</plist>