<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>manaka_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1370},{27,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{27,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>manaka_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1472},{27,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{27,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>manaka_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1438},{27,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{27,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>manaka_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1752},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>manaka_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1650},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>manaka_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1616},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>manaka_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1684},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{24,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>manaka_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1718},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{24,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>manaka_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1786},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{24,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>manaka_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1281},{27,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{27,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>manaka_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1404},{27,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{27,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>manaka_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1247},{27,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{27,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>manaka_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,0},{347,1192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{205,8},{347,1192}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>manaka_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,0},{347,1192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{205,8},{347,1192}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>manaka_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{347,1191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{205,9},{347,1191}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>swim_manaka_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1342},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{27,27}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>swim_manaka_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1342},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{27,27}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>swim_manaka_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1315},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{27,26}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>swim_manaka_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1533},{26,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{26,27}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>swim_manaka_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1533},{26,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{26,27}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>swim_manaka_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1589},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>swim_manaka_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1561},{26,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{26,27}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>swim_manaka_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1561},{26,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{26,27}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>swim_manaka_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1506},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{26,26}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>swim_manaka_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1219},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{27,27}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>swim_manaka_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1219},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{27,27}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>swim_manaka_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1192},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{27,26}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>manaka.png</string>
			</dict>
		</dict>
</plist>