<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>producer_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,33},{26,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{26,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>producer_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,0},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{25,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>producer_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{28,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{28,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>producer_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,0},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{24,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>producer_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,33},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{24,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>producer_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,66},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>producer_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,0},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{23,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>producer_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,66},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{24,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>producer_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,33},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{24,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>producer_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,66},{26,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{26,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>producer_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,33},{26,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{26,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>producer_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,66},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{25,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>producer.png</string>
			</dict>
		</dict>
</plist>