<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>reception_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,66},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{22,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>reception_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,33},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{22,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>reception_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{23,0},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{22,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>reception_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,66},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{20,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>reception_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,33},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{20,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>reception_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{23,33},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>reception_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,0},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,0},{20,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>reception_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,66},{19,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,0},{19,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>reception_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,0},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,0},{20,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>reception_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,33},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{20,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>reception_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{23,66},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>reception_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{22,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>reception.png</string>
			</dict>
		</dict>
</plist>