<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>syuka_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3327},{31,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{31,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3297},{31,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{31,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3387},{31,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{31,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3477},{25,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{25,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3537},{25,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{25,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3447},{25,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{25,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3417},{25,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{25,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3507},{25,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{25,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3567},{25,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{25,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3357},{31,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{31,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3267},{31,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{31,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3237},{31,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{31,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2153},{439,1083}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{154,102},{439,1083}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>syuka_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2153},{439,1083}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{154,102},{439,1083}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>syuka_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,1069},{439,1083}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{154,102},{439,1083}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>syuka_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,2153},{439,1083}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{154,102},{439,1083}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>syuka_s_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1069},{439,1083}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{154,102},{439,1083}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>syuka_s_99.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{623,1068}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{72,112},{623,1068}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,4096}</string>
			<key>textureFileName</key>
			<string>syuka.png</string>
			</dict>
		</dict>
</plist>