<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>yae_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,987},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,5},{24,28}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,987},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,5},{24,28}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,987},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,5},{24,28}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,987},{23,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{23,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,987},{23,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{23,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,987},{23,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{23,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,987},{23,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{23,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,987},{23,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{23,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,987},{23,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{23,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,987},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{22,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,987},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{22,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,987},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{22,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yae_m_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,0},{198,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,198}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>yae_m_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,0},{198,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,198}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>yae_m_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,0},{198,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,198}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>yae_m_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,398},{198,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,198}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>yae_m_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,199},{198,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,198}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>yae_m_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,597},{198,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,198}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>yae_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,0},{374,986}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{167,199},{374,986}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>yae_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,0},{374,986}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{167,199},{374,986}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>yae_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,0},{374,986}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{167,199},{374,986}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>yae_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,0},{374,986}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{167,199},{374,986}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>yae_s_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{374,986}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{167,199},{374,986}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>yae_s_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{374,986}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{167,199},{374,986}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>yae.png</string>
			</dict>
		</dict>
</plist>