<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>swim_yuki_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3148},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3148},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3123},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{25,24}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3252},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3252},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3303},{25,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{25,23}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3202},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3202},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3228},{25,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{25,23}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3175},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3175},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3278},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{25,24}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3545},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3637},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3514},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3699},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3823},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3761},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3854},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3916},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3885},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3606},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3422},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3453},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_a__0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3545},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,18},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_a__0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3484},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,19},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_a__0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3576},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,20},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_a__1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3699},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,18},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_a__1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3730},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,18},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_a__1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3668},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,18},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_a__2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3854},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,17},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_a__2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3792},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_a__2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3358},{22,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,17},{22,30}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_a__3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3606},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,18},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_a__3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3327},{23,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,18},{23,30}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_a__3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3389},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,16},{22,32}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2082},{364,1040}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{248,145},{364,1040}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>yuki_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2082},{364,1040}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{248,145},{364,1040}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>yuki_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1041},{364,1040}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{248,145},{364,1040}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>yuki_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{364,1040}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{248,145},{364,1040}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,4096}</string>
			<key>textureFileName</key>
			<string>yuki.png</string>
			</dict>
		</dict>
</plist>