<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>swim_yuki_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1839},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1839},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1890},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{25,24}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2017},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2017},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1915},{25,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{25,23}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1939},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1939},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1866},{25,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{25,23}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1965},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1965},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1992},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{25,24}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,1934},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,1965},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,1870},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,1962},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,1931},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,1901},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,1870},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,1870},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,1839},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,1995},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,1934},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,1996},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki_a__0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,1934},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,18},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_a__0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,1965},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,19},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_a__0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,1901},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,20},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_a__1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,1962},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,18},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_a__1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,1993},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,18},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_a__1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,1839},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,18},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_a__2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,1870},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,17},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_a__2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,1839},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_a__2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,1870},{22,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,17},{22,30}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_a__3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,1995},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,18},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_a__3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,1839},{23,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,18},{23,30}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_a__3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,1901},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,16},{22,32}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>yuki_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,790},{449,1048}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{189,137},{449,1048}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>yuki_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,790},{449,1048}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{189,137},{449,1048}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>yuki_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,790},{449,1048}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{189,137},{449,1048}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>yuki_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,0},{449,1048}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{189,137},{449,1048}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>yuki_s_99.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{603,789}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,218},{603,789}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>yuki.png</string>
			</dict>
		</dict>
</plist>