<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>nadeshiko_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3298},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>nadeshiko_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3267},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>nadeshiko_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3360},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>nadeshiko_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3453},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>nadeshiko_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3515},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>nadeshiko_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3422},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>nadeshiko_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3391},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>nadeshiko_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3484},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>nadeshiko_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3546},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{20,30}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>nadeshiko_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3329},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>nadeshiko_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3236},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>nadeshiko_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3205},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>nadeshiko_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2073},{333,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{233,54},{333,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>nadeshiko_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2073},{333,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{233,54},{333,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>nadeshiko_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,941},{333,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{233,54},{333,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>nadeshiko_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,2073},{333,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{233,54},{333,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>nadeshiko_s_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,941},{333,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{233,54},{333,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>nadeshiko_s_99.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{748,940}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,66},{748,940}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,4096}</string>
			<key>textureFileName</key>
			<string>nadeshiko.png</string>
			</dict>
		</dict>
</plist>