<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>kenshin_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3829},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>kenshin_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3630},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{23,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>kenshin_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3597},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{23,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>kenshin_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4057},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{20,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>kenshin_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4024},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{20,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>kenshin_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3991},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{20,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>kenshin_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{21,4024},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{20,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>kenshin_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{21,3958},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{20,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>kenshin_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3958},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{20,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>kenshin_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3893},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>kenshin_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3796},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{22,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>kenshin_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3763},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{22,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>kenshin_a_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3829},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,16},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>kenshin_a_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3862},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,18},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>kenshin_a_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3926},{21,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,20},{21,31}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>kenshin_a_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4057},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,16},{20,32}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>kenshin_a_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{21,3991},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,16},{20,32}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>kenshin_a_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3663},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,16},{22,32}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>kenshin_a_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{21,4024},{20,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,16},{20,32}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>kenshin_a_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3696},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,16},{22,32}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>kenshin_a_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3531},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,16},{24,32}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>kenshin_a__3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3893},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,16},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>kenshin_a__3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3564},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,16},{23,32}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>kenshin_a__3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3729},{22,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,15},{22,33}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>kenshin_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2354},{420,1176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{219,9},{420,1176}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>kenshin_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2354},{420,1176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{219,9},{420,1176}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>kenshin_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2354},{420,1176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{219,9},{420,1176}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>kenshin_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1177},{420,1176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{219,9},{420,1176}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>kenshin_s_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{420,1176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{219,9},{420,1176}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,4096}</string>
			<key>textureFileName</key>
			<string>kenshin.png</string>
			</dict>
		</dict>
</plist>