<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>kyoujin4_0_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,23},{20,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,8},{20,23}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>kyoujin4_0_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{21,24},{18,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,9},{18,23}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>kyoujin4_0_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{21,0},{18,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,9},{18,23}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>kyoujin4_1_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,0},{17,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,8},{17,23}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>kyoujin4_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,24},{17,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,9},{17,22}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>kyoujin4_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,0},{17,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,9},{17,23}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>kyoujin4_2_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,24},{17,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,8},{17,23}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>kyoujin4_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,0},{17,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,9},{17,23}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>kyoujin4_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,24},{17,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,9},{17,22}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>kyoujin4_3_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{20,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,9},{20,22}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>kyoujin4_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,23},{16,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,10},{16,22}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>kyoujin4_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,0},{16,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,10},{16,22}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{128,64}</string>
		<key>textureFileName</key>
		<string>kyoujin4.png</string>
	</dict>
</dict>
</plist>
