<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>character/plist/kyoujin/kyoujin1_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,42},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin1_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,74},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin1_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,106},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin1_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,138},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin1_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,170},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin1_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,202},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin1_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,234},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin1_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,266},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin1_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,298},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin1_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,330},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin1_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,362},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin1_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,394},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin_a_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,426},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin_a_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,458},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin_a_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,490},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin_a_0_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,522},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin_a_0_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,554},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin_a_0_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,586},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin_a_0_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{32,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,42}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin_a_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,618},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin_a_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,650},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin_a_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,682},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin_a_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,714},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin_a_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,746},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin_a_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,778},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin_a_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,810},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin_a_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,842},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin_a_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,874},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin_a_2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,906},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin_a_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,938},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin_a_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,970},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin_a_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,0},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>character/plist/kyoujin/kyoujin_a_3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,0},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>kyoujin.png</string>
			<key>realTextureFileName</key>
			<string>kyoujin.png</string>
			<key>size</key>
			<string>{128,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>