<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>magoichi1_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{22,3831},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi1_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3798},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{22,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi1_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3765},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{22,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi1_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4029},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi1_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3996},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi1_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3963},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi1_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4062},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi1_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3897},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi1_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3864},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi1_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3831},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi1_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3930},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi1_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{22,3864},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi1_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{362,1183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{225,15},{362,1183}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>magoichi1_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{362,1183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{225,15},{362,1183}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>magoichi1_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2367},{361,1184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{225,14},{361,1184}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>magoichi1_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1184},{361,1182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{225,15},{361,1182}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>swim_magoichi_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3658},{25,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,27}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3658},{25,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,27}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3739},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3712},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3712},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3686},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3605},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3605},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3579},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3552},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3632},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3552},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,4096}</string>
			<key>textureFileName</key>
			<string>magoichi1.png</string>
			</dict>
		</dict>
</plist>