<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ranmaru_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1771},{23,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{23,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1140},{29,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{29,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1493},{25,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{25,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1668},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1353},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1598},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1633},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1318},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{27,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1528},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1703},{23,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{23,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1423},{25,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{25,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1563},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru__a_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1738},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{23,32}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_a_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1806},{23,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{23,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_a_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1283},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{27,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_a_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1388},{25,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{25,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_a_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1248},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{27,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_a_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1175},{28,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{28,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_a_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1458},{25,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,15},{25,34}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>ranmaru_a_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1210},{28,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,13},{28,37}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>ranmaru_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2543,0},{454,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,54},{454,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>ranmaru_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2543,0},{454,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,54},{454,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>ranmaru_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2088,0},{454,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,54},{454,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>ranmaru_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,0},{454,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,54},{454,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>ranmaru_s_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1633,0},{454,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,54},{454,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>ranmaru_s_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1178,0},{454,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,54},{454,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>ranmaru_s_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2998,0},{386,1195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{243,1},{386,1195}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>ranmaru_s_99.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{722,1139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,5},{722,1139}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,2048}</string>
			<key>textureFileName</key>
			<string>ranmaru.png</string>
			</dict>
		</dict>
</plist>