<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ranmaru_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4027},{23,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{23,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3396},{29,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{29,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3749},{25,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{25,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3924},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3609},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3854},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3889},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3574},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{27,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3784},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3959},{23,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{23,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3679},{25,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{25,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3819},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru__a_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3994},{23,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{23,32}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_a_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,3959},{23,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{23,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_a_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3539},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{27,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_a_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3644},{25,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{25,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_a_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3504},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{27,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_a_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3469},{28,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{28,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_a_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3714},{25,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,15},{25,34}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>ranmaru_a_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3431},{28,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,13},{28,37}}</string>
				<key>sourceSize</key>
				<string>{32,64}</string>
			</dict>

			<key>ranmaru_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2264},{454,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,54},{454,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>ranmaru_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2264},{454,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,54},{454,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>ranmaru_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{454,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,54},{454,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>ranmaru_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,0},{454,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,54},{454,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>ranmaru_s_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1132},{454,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,54},{454,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>ranmaru_s_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1132},{454,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,54},{454,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>ranmaru_s_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,2264},{386,1195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{243,1},{386,1195}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,4096}</string>
			<key>textureFileName</key>
			<string>ranmaru.png</string>
			</dict>
		</dict>
</plist>