<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>syuka_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1306},{31,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{31,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1276},{31,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{31,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1336},{31,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{31,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1426},{25,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{25,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1486},{25,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{25,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1396},{25,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{25,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1366},{25,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{25,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1456},{25,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{25,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1516},{25,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{25,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1246},{31,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{31,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1216},{31,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{31,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1186},{31,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{31,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>syuka_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,0},{504,1185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{154,0},{504,1185}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>syuka_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,0},{504,1185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{154,0},{504,1185}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>syuka_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,0},{504,1185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{154,0},{504,1185}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>syuka_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,0},{504,1185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{154,0},{504,1185}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>syuka_s_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{504,1185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{154,0},{504,1185}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>syuka.png</string>
			</dict>
		</dict>
</plist>