<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>teacher_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,197},{21,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{21,31}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>teacher_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,197},{22,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{22,31}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>teacher_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,197},{22,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{22,31}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>teacher_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,197},{22,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{22,31}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>teacher_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,197},{22,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{22,31}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>teacher_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{23,197},{22,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{22,31}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>teacher_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,197},{22,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{22,31}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>teacher_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{22,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{22,31}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>teacher_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,197},{22,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{22,31}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>teacher_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,197},{19,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,2},{19,31}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>teacher_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,197},{20,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,2},{20,31}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>teacher_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,197},{20,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,2},{20,31}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>teacher_m_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,0},{174,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,2},{174,196}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>teacher_m_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,0},{174,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,2},{174,196}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>teacher_m_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{174,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,2},{174,196}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>teacher.png</string>
			</dict>
		</dict>
</plist>