<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>yoshitune_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,427},{23,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{23,28}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yoshitune_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,456},{23,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{23,28}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yoshitune_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,398},{23,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{23,28}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yoshitune_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,458},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yoshitune_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,398},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yoshitune_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,398},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yoshitune_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,428},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yoshitune_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,458},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yoshitune_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,428},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{21,29}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yoshitune_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,460},{23,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{23,30}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yoshitune_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,429},{23,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{23,30}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yoshitune_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,398},{23,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{23,30}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>yoshitune_m_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,0},{198,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,198}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>yoshitune_m_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,0},{198,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,198}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>yoshitune_m_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,0},{198,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,198}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>yoshitune_m_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,199},{198,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,198}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

			<key>yoshitune_m_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{198,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,198}}</string>
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>yoshitune.png</string>
			</dict>
		</dict>
</plist>