<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shituji_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{22,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,7},{22,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shituji_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{23,31},{21,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{21,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shituji_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,31},{21,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{21,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shituji_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,0},{17,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,6},{17,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shituji_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,0},{17,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,4},{17,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shituji_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,27},{17,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{17,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shituji_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,26},{17,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,3},{17,27}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shituji_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,0},{17,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,3},{17,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shituji_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,30},{17,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,3},{17,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shituji_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,26},{22,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{22,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shituji_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{23,0},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,2},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>shituji_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,0},{21,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,2},{21,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,64}</string>
			<key>textureFileName</key>
			<string>shituji.png</string>
			</dict>
		</dict>
</plist>