<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>manaka_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1711},{32,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{32,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>manaka_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1775},{31,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{31,30}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>manaka_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1743},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{31,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>manaka_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1903},{29,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{29,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>manaka_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1936},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{28,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>manaka_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,1936},{27,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{27,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>manaka_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1968},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{28,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>manaka_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1870},{29,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{29,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>manaka_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2000},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{28,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>manaka_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1679},{32,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{32,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>manaka_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1806},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{31,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>manaka_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1838},{30,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{30,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>manaka_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{353,485}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{353,485}}</string>
				<key>sourceSize</key>
				<string>{353,485}</string>
			</dict>

			<key>manaka_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,486},{347,1192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{205,8},{347,1192}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>manaka_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,486},{347,1191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{205,9},{347,1191}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>