<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ranmaru_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3746},{23,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{23,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3396},{29,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{29,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3501},{25,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{25,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3676},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3466},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3606},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3571},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3431},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{27,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3641},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3781},{23,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{23,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3536},{25,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{25,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3711},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1132},{454,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,54},{454,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>ranmaru_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1132},{454,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,54},{454,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>ranmaru_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{454,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,54},{454,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>ranmaru_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,0},{454,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,54},{454,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>ranmaru_s_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2264},{454,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,54},{454,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>ranmaru_s_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1132},{454,1131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,54},{454,1131}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>ranmaru_s_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,2264},{386,1195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{243,1},{386,1195}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,4096}</string>
			<key>textureFileName</key>
			<string>ranmaru.png</string>
			</dict>
		</dict>
</plist>