<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>magoichi_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1549},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1384},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{22,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1417},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{22,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1648},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1615},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1582},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1714},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1681},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1483},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1516},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1747},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1450},{21,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{21,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>magoichi_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1315,0},{394,1170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,15},{394,1170}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>magoichi_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1315,0},{394,1170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,15},{394,1170}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>magoichi_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,0},{410,1170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,15},{410,1170}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>magoichi_s_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,0},{410,1170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,15},{410,1170}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>magoichi_s_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1315,0},{394,1170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,15},{394,1170}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>magoichi_s_99.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{492,1073}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{139,81},{492,1073}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>swim_magoichi_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1250},{25,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,27}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1250},{25,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,27}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1224},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1197},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1197},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1171},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1357},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1357},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1278},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1304},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1331},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_magoichi_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1304},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>magoichi.png</string>
			</dict>
		</dict>
</plist>