<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>oRanmaru_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,0},{23,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{23,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>oRanmaru_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{29,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{29,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>oRanmaru_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,35},{25,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{25,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>oRanmaru_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,0},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>oRanmaru_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,35},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>oRanmaru_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,70},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>oRanmaru_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,70},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>oRanmaru_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,70},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{27,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>oRanmaru_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,35},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>oRanmaru_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,35},{23,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{23,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>oRanmaru_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,0},{25,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{25,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>oRanmaru_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,70},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>oRanmaru.png</string>
			</dict>
		</dict>
</plist>