<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ranmaru_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1549},{23,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{23,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1199},{29,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{29,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1339},{25,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{25,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1479},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1269},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1444},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1374},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1234},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{27,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1409},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1584},{23,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{23,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1304},{25,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{25,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1514},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>

			<key>ranmaru_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{387,1198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{242,0},{387,1198}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>ranmaru_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{387,1198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{242,0},{387,1198}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>ranmaru_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,0},{386,1195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{243,1},{386,1195}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>ranmaru.png</string>
			</dict>
		</dict>
</plist>