<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>taihou_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1360},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>taihou_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1292},{25,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>taihou_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1326},{25,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{25,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>taihou_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1459},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>taihou_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1426},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>taihou_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1492},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{24,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>taihou_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1558},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{24,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>taihou_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1525},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{24,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>taihou_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1393},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{24,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>taihou_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1259},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,32}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>taihou_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1225},{25,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>taihou_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1191},{25,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>taihou_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{543,1190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{178,7},{543,1190}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>taihou.png</string>
			</dict>
		</dict>
</plist>