<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>truckchara_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1522},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>truckchara_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1182},{22,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{22,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>truckchara_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1216},{22,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{22,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>truckchara_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1454},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>truckchara_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1420},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>truckchara_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1386},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>truckchara_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1352},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>truckchara_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1556},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>truckchara_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1488},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>truckchara_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1250},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>truckchara_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1318},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>truckchara_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1284},{21,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{21,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>truckchara_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{296,1181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{272,11},{296,1181}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>truckchara_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{296,1181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{272,11},{296,1181}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>truckchara_s_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,0},{295,1181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{273,11},{295,1181}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>truckchara.png</string>
			</dict>
		</dict>
</plist>