<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>effect_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>effect_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,121},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>effect_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,242},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>effect_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,363},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>effect_1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,121},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>effect_1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,121},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>effect_1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,242},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>effect_1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,363},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>effect_1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,0},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>pipo-btleffect124_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,242},{69,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,54}}</string>
				<key>sourceSize</key>
				<string>{69,54}</string>
			</dict>

			<key>pipo-btleffect124_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,242},{59,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,54}}</string>
				<key>sourceSize</key>
				<string>{59,54}</string>
			</dict>

			<key>pipo-btleffect124_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,297},{66,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,54}}</string>
				<key>sourceSize</key>
				<string>{66,54}</string>
			</dict>

			<key>pipo-btleffect124_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,395},{62,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,54}}</string>
				<key>sourceSize</key>
				<string>{62,54}</string>
			</dict>

			<key>pipo-btleffect124_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,297},{61,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,54}}</string>
				<key>sourceSize</key>
				<string>{61,54}</string>
			</dict>

			<key>pipo-btleffect124_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,438},{64,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,42}}</string>
				<key>sourceSize</key>
				<string>{64,42}</string>
			</dict>

			<key>pipo-btleffect124_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,352},{64,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,42}}</string>
				<key>sourceSize</key>
				<string>{64,42}</string>
			</dict>

			<key>pipo-btleffect124_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,395},{64,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,42}}</string>
				<key>sourceSize</key>
				<string>{64,42}</string>
			</dict>

			<key>pipo-btleffect124_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,352},{64,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,42}}</string>
				<key>sourceSize</key>
				<string>{64,42}</string>
			</dict>

			<key>pipo-btleffect124_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,450},{62,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,42}}</string>
				<key>sourceSize</key>
				<string>{62,42}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>battle_effect.png</string>
			</dict>
		</dict>
</plist>