<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>syuka_0_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{22,839},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>syuka_0_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,737},{22,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{22,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>syuka_0_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,771},{22,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{22,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>syuka_1_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{22,805},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>syuka_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,975},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>syuka_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,941},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>syuka_2_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{22,907},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>syuka_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{22,873},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>syuka_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,839},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>syuka_3_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,873},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>syuka_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,805},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>syuka_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,907},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>syuka_s_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{470,736}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,0},{470,736}}</string>
			<key>sourceSize</key>
			<string>{512,736}</string>
		</dict>
		<key>syuka_s_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{470,736}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,0},{470,736}}</string>
			<key>sourceSize</key>
			<string>{512,736}</string>
		</dict>
		<key>syuka_s_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{470,736}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,0},{470,736}}</string>
			<key>sourceSize</key>
			<string>{512,736}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512,1024}</string>
		<key>textureFileName</key>
		<string>syuka.png</string>
	</dict>
</dict>
</plist>
