<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>turckchara_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,0},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{32,46}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>turckchara_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,47},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{32,46}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>turckchara_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,0},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,3},{32,46}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>turckchara_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,79},{37,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,14},{37,39}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>turckchara_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,14},{39,39}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>turckchara_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,39},{36,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{36,39}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>turckchara_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,79},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{38,38}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>turckchara_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,40},{39,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,15},{39,38}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>turckchara_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,0},{37,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,15},{37,38}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>turckchara_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,39},{32,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,8},{32,40}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>turckchara_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,80},{32,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,8},{32,40}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>turckchara_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,80},{32,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,8},{32,40}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,128}</string>
			<key>textureFileName</key>
			<string>turckchra.png</string>
			</dict>
		</dict>
</plist>