<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Omanaka_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,39},{24,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,12},{24,40}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>Omanaka_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,80},{24,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,12},{24,40}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>Omanaka_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,39},{24,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,12},{24,40}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>Omanaka_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,78},{35,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,13},{35,38}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>Omanaka_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,39},{35,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,13},{35,38}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>Omanaka_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,39},{35,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,13},{35,38}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>Omanaka_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{35,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,13},{35,38}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>Omanaka_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,78},{35,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,13},{35,38}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>Omanaka_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,0},{35,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,13},{35,38}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>Omanaka_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,0},{23,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,11},{23,38}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>Omanaka_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,0},{25,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,11},{25,38}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

			<key>Omanaka_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,80},{24,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,11},{24,38}}</string>
				<key>sourceSize</key>
				<string>{40,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>Omanaka.png</string>
			</dict>
		</dict>
</plist>