<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>girl_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{18,0},{17,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,5},{17,23}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>girl_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,24},{16,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,6},{16,23}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>girl_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{16,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,6},{16,23}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>girl_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,23},{16,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,6},{16,23}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>girl_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,0},{16,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,7},{16,22}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>girl_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,24},{16,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,7},{16,22}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>girl_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,0},{16,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,6},{16,22}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>girl_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,24},{16,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,6},{16,22}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>girl_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{18,24},{16,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,6},{16,22}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>girl_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,0},{16,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,6},{16,23}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>girl_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,24},{17,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,7},{17,23}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>girl_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{17,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,7},{17,23}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,64}</string>
			<key>textureFileName</key>
			<string>girl.png</string>
			</dict>
		</dict>
</plist>