<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>kenshin_0_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{22,989},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>kenshin_0_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,819},{22,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{22,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>kenshin_0_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,853},{22,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{22,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>kenshin_1_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{22,955},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>kenshin_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{22,921},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>kenshin_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{22,887},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>kenshin_2_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{23,853},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>kenshin_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{23,819},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>kenshin_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,921},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>kenshin_3_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,955},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>kenshin_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,887},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>kenshin_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,989},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>kenshin_s_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{416,818}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,1},{416,818}}</string>
			<key>sourceSize</key>
			<string>{512,819}</string>
		</dict>
		<key>kenshin_s_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{416,818}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,1},{416,818}}</string>
			<key>sourceSize</key>
			<string>{512,819}</string>
		</dict>
		<key>kenshin_s_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{416,818}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,1},{416,818}}</string>
			<key>sourceSize</key>
			<string>{512,819}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512,1024}</string>
		<key>textureFileName</key>
		<string>kenshin.png</string>
	</dict>
</dict>
</plist>
