<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fujin_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{28,28}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>fujin_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,57},{24,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{24,27}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>fujin_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,85},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,3},{22,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>fujin_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,85},{24,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{24,29}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>fujin_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,85},{21,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,3},{21,28}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>fujin_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,0},{20,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,5},{20,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>fujin_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,57},{21,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,6},{21,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>fujin_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,0},{22,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,4},{22,27}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>fujin_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,28},{20,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,5},{20,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>fujin_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,29},{25,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{25,27}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>fujin_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,57},{23,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,3},{23,27}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>fujin_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,29},{23,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{23,27}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>fujin.png</string>
			</dict>
		</dict>
</plist>