<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>focus_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{795,795}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{795,795}}</string>
				<key>sourceSize</key>
				<string>{800,800}</string>
			</dict>

			<key>fog.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,0},{640,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{640,480}}</string>
				<key>sourceSize</key>
				<string>{640,480}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>effect.png</string>
			</dict>
		</dict>
</plist>