<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>character_discription.png</key>
		<dict>
			<key>frame</key>
			<string>{{1362,0},{240,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,480}}</string>
			<key>sourceSize</key>
			<string>{240,480}</string>
		</dict>
		<key>character_selector.png</key>
		<dict>
			<key>frame</key>
			<string>{{801,0},{560,600}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{560,600}}</string>
			<key>sourceSize</key>
			<string>{560,600}</string>
		</dict>
		<key>item_detail.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{800,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{800,150}}</string>
			<key>sourceSize</key>
			<string>{800,150}</string>
		</dict>
		<key>item_equip_selector.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,845},{192,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,120}}</string>
			<key>sourceSize</key>
			<string>{192,120}</string>
		</dict>
		<key>item_equipment.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,603},{560,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{560,120}}</string>
			<key>sourceSize</key>
			<string>{560,120}</string>
		</dict>
		<key>item_selector.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,151},{800,330}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{800,330}}</string>
			<key>sourceSize</key>
			<string>{800,330}</string>
		</dict>
		<key>main_menu_panel.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,482},{800,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{800,120}}</string>
			<key>sourceSize</key>
			<string>{800,120}</string>
		</dict>
		<key>menu_title_panel.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,724},{240,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,120}}</string>
			<key>sourceSize</key>
			<string>{240,120}</string>
		</dict>
		<key>question_selector.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,845},{160,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,120}}</string>
			<key>sourceSize</key>
			<string>{160,120}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048,1024}</string>
		<key>textureFileName</key>
		<string>menu_panels.png</string>
	</dict>
</dict>
</plist>
