<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>swim_yuki_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1244},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1244},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1169},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{25,24}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1194},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1194},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1220},{25,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{25,23}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1347},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1347},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{25,25}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1271},{25,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{25,23}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1295},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1295},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>swim_yuki_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1322},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{25,24}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki1_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1469},{21,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{21,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki1_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1405},{22,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{22,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki1_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1373},{22,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{22,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki1_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1661},{20,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{20,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki1_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1629},{20,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{20,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki1_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1565},{20,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{20,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki1_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1693},{20,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{20,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki1_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1725},{20,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{20,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki1_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1597},{20,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{20,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki1_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1533},{21,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{21,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki1_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1501},{21,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{21,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki1_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1437},{21,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{21,31}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>yuki1_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{332,1168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{220,21},{332,1168}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

			<key>yuki1_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{332,1168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{220,21},{332,1168}}</string>
				<key>sourceSize</key>
				<string>{800,1200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,2048}</string>
			<key>textureFileName</key>
			<string>yuki1.png</string>
			</dict>
		</dict>
</plist>